# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-nitro

# Make this the same as your github username/organisation
REPO_ORGANIZATION="dsev001"

IMAGE_DESC="Bazzite (NVIDIA open) customized for the Acer Nitro ANV16S"

DEFAULT_TAG="latest"
BIB_IMAGE="ghcr.io/osbuild/bootc-image-builder:v84.0.0@sha256:26c9ebd8ba43596ffa266749d9745dcf97d60df1a3c7c577a97ebf95f35278da"
