# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-nitro

# Make this the same as your github username/organisation
REPO_ORGANIZATION="dsev001"

IMAGE_DESC="Bazzite (NVIDIA open) customized for the Acer Nitro ANV16S"

DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
